<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="jquery.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


<link rel="stylesheet" type="text/css" href="layout.css">

<script src="socket.io/socket.io.js"></script>
<script src="xuly.js"></script>


</head>
<body>
    
        
        
<div class="container">
        <img src="image/logo.png" class="mx-auto d-block my-5">
    <h1 class="text-center "> chat voi nguoi la</h1>
 
    <form action="/" class="form-chat " method="POST">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="text" class="form-control" id="e1" placeholder="Enter email" name="email">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="p1" placeholder="Enter password" name="pass">
        </div>
        <div class="form-group form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember"> Remember me 
          </label>
        </div>
        
        <button type="submit" class="btn btn-primary butsb">Submit</button>
        <a href="/dangky" class="btn btn-info float-right butdk" role="button ">Sign up</a>

      </form>
    



</div>
<section id="form-login">
    <div class="container vui">
        
        
    </div>

</section>



</body>
</html>